*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}
#friendly {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
min-height: 600px;
    .formtitle {
        min-height: 200px;
        width: 100%;

        h1 {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 60px;
        }

        p {
            display: flex;
            align-items: center;
            justify-content: center;
            color: rgba(0, 0, 0, 0.395);
        }
    }
}
